{% extends 'base.html' %}
{% block content %}
{% load static %}

        {% comment %} {% if user.level == 9 %} {% endcomment %}
        <div id="content-1" class="col-sm col-md col-lg">
            {% comment %} <form action="#">
                <label for="new-link">Add New Resource</label>
                <input type="text" class="form-control" id="new-link">
                <button type="button" onClick="addLink()">Add</button>
            </form> {% endcomment %}
<!-- Form to add item -->

            <table id="admin-workflow" class="relative">
                <caption id="caption">User: {{user.full_name}}</caption>
                <thead>
                    <tr>
                        <th>Workflow</th>
                    </tr>
                </thead>
                <tbody>
                    {% for website in user.websites.all %}
                    <tr>
                        <td class="website-td">
                            <form action="/home/remove-site/{{website.id}}" method="POST" class="remove-website-form">
                                {% csrf_token %}
                                
                                <button type="submit" class="remove-website-btn"><img id="icon-minus" src="{% static 'media/minus2.png' %}" % alt="details">
                                </button>
                            </form>
                            <a href="{{website.content}}" target="blank" class="website-name">{{website.name}}</a>
                        
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <a href="#" class="add-site-trigger"><img id="icon-minus" src="{% static 'media/plus.png' %}" % alt="details"></a>
                        </td>
                    </tr>
                    <tr>
                        
                        <td id="">
                            {% if web_len < 1 %}
                            <p> Add a link to a frequented website </p>
                            {% endif %}

                            <form action="/home/new-site" method="POST" id="add-site-div" class="hidden" autocomplete="off">
                                {% csrf_token %}
                                <label for="site-name">Resource Name</label>
                                <br>
                                <input type="text" id="site-name" name="name" placeholder="Include a title">
                                <br>
                                <label for="new-link">Add New Resource</label>
                                <br>
                                <input type="text" id="new-link" name="website" placeholder="Add a link">
                                <br>
                                <button type="submit" class="add-website-btn">Add</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

    </div>

    <script>
            $('.add-site-trigger').click(function() {
                $("#add-site-div").toggle({
                    width: "toggle"
                });
            });
        </script>
{% endblock %}