{% extends 'base-two.html' %}
{% block content %}
            <div id="header">
                <h2 id="header-title"><span class="enlarged">M</span>aterial<span class="enlarged"> S</span>upply <span class="enlarged">S</span>ystem</h2>
                <a class="signin" href="/login/signin">Sign-In</a>
            </div>

            <div class="row">
                <div id="homepage" class="col-9 mx-auto">
                    <h1>Material Supply</h1>
                    <p class="black">A webapp for production facility employees to request materials</p>
                    <a class="btn-primary" href="/login/register-page">Register</a>
                </div>
            </div>
{% endblock %}