{% extends 'base-two.html' %}
{% block content %}
            <div id="header">
                <h2 id="header-title"><span class="enlarged">M</span>aterial<span class="enlarged"> S</span>upply <span class="enlarged">S</span>ystem</h2>
                <a class="" href="/">Home</a>
                <a class="signin" href="/login/signin">Sign-In</a>
            </div>

            <div class="row">
                <div id="content-1" class="col-sm col-md col-lg">
                    <h2>Registration</h2>
                    <form action="/login/register" method="POST">
                    {% csrf_token %}
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" class="form-control">
                        
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" class="form-control ">
                        
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control ">
                                                
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control ">
                        
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control ">
                        
                        <button type="submit"  class="btn-block" style="font-size: 30px;" formnovalidate>Create account</button>
                    </form>
                </div>
            </div>
{% endblock %}
